<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="cn.kc.trainman_apply">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.view.LoginActivity" />
        <activity android:name="cn.kc.trainman_apply.main.MainActivity" />
    </application>
</manifest>