<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.kc.trainman_apply">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:theme="@style/AppTheme"
                 android:usesCleartextTraffic="true"
                 android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name="cn.kc.trainman_apply.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="cn.kc.trainman_apply.main.MainActivity"/>
    </application>
</manifest>